<div class="amazon-container">
  <h4><a target="_blank" href="http://www.amazon.com/MP3-Music-Download/b/ref=as_li_ss_tl?_encoding=UTF8&camp=1789&creative=390957&linkCode=ur2&node=163856011&tag=alehei-20&linkId=LC526JWKKCMZWOXP">Get this song on Amazon!</a></h4>
  <div class="amazon-tiny">
    Amazon has a ton of good songs like this one. Take some quarters out of the swear jar and use them to support <%= @artist.artist_name %>!
  </div>
</div>
