<div class="amazon-container">
  <span class="amazon-title"><a target="_blank" href="http://www.amazon.com/mn/search/ref=as_li_ss_tl?_encoding=UTF8&camp=1789&creative=390957&field-keywords=<%= @artist.artist_name %>&linkCode=ur2&tag=alehei0c-20&url=search-alias%3Daps&linkId=RPGD2D4ZYZC7BVNK">Listen to this song on MP3</a></span>
  <div class="amazon-tiny">
    Amazon has a ton of good songs like this one. Take some quarters out of the swear jar and use them to support <%= @artist.artist_name %>!
  </div>
</div>
