<div class="amazon-container">
  <span class="amazon-title"><a target="_blank" href="http://www.amazon.com/mn/search/ref=as_li_ss_tl?_encoding=UTF8&camp=1789&creative=390957&field-keywords=<%= @artist.artist_name %>&linkCode=ur2&tag=alehei0c-20&url=search-alias%3Daps&linkId=RPGD2D4ZYZC7BVNK">
  Listen to
  <% if @lyric.nil? && @album.nil? %>
    <%= @artist.artist_name %>
  <% elsif @lyric.nil? %>
    <%= @album.name %>
  <% else %>
    <%= @lyric.track_name %>
  <% end %>
   on MP3!</a></span>
</div>
