<div class="amazon-container">
  <span class="amazon-title"><a target="_blank" href="http://www.noisaea.com/artists?utf8=%E2%9C%93&search=<%= @artist.artist_name %>&commit=search">
  <svg class="play" viewBox="0 0 24 24">
    <path d="M12,20.14C7.59,20.14 4,16.55 4,12.14C4,7.73 7.59,4.14 12,4.14C16.41,4.14 20,7.73 20,12.14C20,16.55 16.41,20.14 12,20.14M12,2.14A10,10 0 0,0 2,12.14A10,10 0 0,0 12,22.14A10,10 0 0,0 22,12.14C22,6.61 17.5,2.14 12,2.14M10,16.64L16,12.14L10,7.64V16.64Z" />
  </svg>
  Play
  <% if @lyric.nil? && @album.nil? %>
    <%= @artist.artist_name %>
  <% elsif @lyric.nil? %>
    <%= @album.name %>
  <% else %>
    <%= @lyric.track_name %>
  <% end %></a></span>
</div>
