<% if @artist.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@artist.errors.count, "error") %> prevented this artist from being created:</h2>
  <ul>
  <% @artist.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
