<div class="sidebar">

  <%= form_tag(artists_path, :method => "get") do %>
    <div class="field">
      <%= text_field_tag :search, params[:search], placeholder: "Search Artists", class: "text-field" %>
    </div>
    <%= submit_tag "Search", class: "submit-button", :style => "display: none;" %>
  <% end %>

  <a href="https://www.amazon.com/gp/dmusic/promotions/AmazonMusicUnlimited?ref_=assoc_tag_ph_1483579440886&_encoding=UTF8&camp=1789&creative=9325&linkCode=pf4&tag=letlyrics08-20&linkId=be9d68dfea0b36bb9ad47ca0b8eaf619">
    <div class="noisaea-container">
      <div class="noisaea-title">
        Amazon Music Unlimited
      </div>
      <div class="noisaea-sub track-separate">
      Any song, anywhere
      </div>
      <div class="track-separate black">
        Tens of millions of songs with new releases from today's most popular artists. Listen ad-free with unlimited skips. Download for offline listening.
      </div>
    </div>
  </a>

</div>