/*
 *= require_tree .
 *= require_self
 */


/* ********************** UNIVERSAL ********************** */
$main-color: #009118;
$accent-color1: #A9E2AD;
$accent-color2: #BE5B00;
$accent-color3: #FFC695;
$my-black: #212121;
$fancy-font: 'Open Sans', Helvetica, Arial, sans-serif;


body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.75em;
  font-family: $fancy-font;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  color: $main-color;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    color: $accent-color1;
  }
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.75em;
  font-weight: 300;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

h4 {
  padding: 0;
  margin: 0;
  font-size: 3em;
  font-weight: 300;
  line-height: 3rem;
}

::selection {
  color: #fff;
  background: $main-color;
}

::-moz-selection {
  color: #fff;
  background: $main-color;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.full-width-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.content {
  margin: 1vh 0;
  width: 77%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  margin: 1vh 0;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.alert-notice {
  width: 100%;
  background-color: #4CAF50;
}

.alert-alert {
  width: 100%;
  background-color: #F44336;
}

.alert {
  width: 90%;
  margin: 0 auto;
  padding: 2vh 0;
}

.accent {
  color: $accent-color2;
  a {
    color: $accent-color2;
    &:hover {
      color: $accent-color3;
    }
  }
}

/* ******************************* LYRICS ******************************** */

.artist-name {
  margin: 1vh 0;
}

.album-separate {
  margin: 3vh 0;
}

.album-name {
  font-size: 1.5em;
}

.track-name {
  font-size: 1.25em;
}

.track-separate {
  margin: 1vh 0;
}

.hello-alex {
  display: none;
  margin: 20vh 0;
  a {
    color: #212121;
    &:hover {
      cursor: text;
      color: #212121;
    }
  }
}

.lyric-separate {
  word-break: break-word;
  white-space: pre-line;
  margin-bottom:  1vh;
  width: 95%;
}

/* ************************ USERS ************************** */

.username {
  margin: 1vh 0 3vh 0;
}

.username-text {
  font-size: 1.5em;
  font-weight: 700;
}

/* ************************ STATIC *********************** */

.home-container {
  margin: 20vh 0;
}

.home-line {
  padding: 2vh 0;
  a {
    color: $my-black;
  }
}

.mighty-site-title {
  text-align: center;
  font-size: 15em;
  line-height: 15rem;
  a {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    &:hover {
      color: $main-color;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
    }
  }
}

.veggie-site-title {
  text-align: center;
  margin: 10vh 0;
  a {
    color: $main-color;
    &:hover {
      color: $accent-color1;
    }
  }
}

.four {
  width: 24%;
  margin: 1vh auto;
  display: inline-block;
  vertical-align: top;
}

/* ********************************** FORMS *************************** */

.form-title {
  margin: 1vh 0;
}

.field {
  margin: 1vh 0;
}

.text-field {
  width: 95%;
  font-size: 16px;
  padding: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid $main-color;
  display: inline-block;
  box-sizing: border-box;
}

.text-area {
  width: 95%;
  min-width: 95%;
  max-width: 95%;
  height: 25vh;
  font-size: 16px;
  padding: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid $main-color;
  display: inline-block;
  box-sizing: border-box;
}

.actions {
  width: 95%;
  padding-top: 10px;
}

.delete-account {
  width: 95%;
  padding-top: 10px;
  margin: 10vh 0;
}

.submit-button {
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  font-size: 1.25em;
  font-weight: 300;
  background-color: $main-color;
  border: 3px solid $main-color;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $my-black;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    border: 3px solid $my-black;
  }
}

.form-info {
  width: 95%;
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.shared-links {
  margin-top: 2vh;
  margin-bottom: 4vh;
}

.form-links {
  padding: 5px 0 5px 0;
}

#error_explanation {
  color: #f00;
  ul {
    padding: 5px 0 5px 0;
    list-style: none;
    line-height: 30px;
  }
}

.home-field {
  margin: 1vh auto;
  text-align: center;
}

.home-text-field {
  width: 50%;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid $my-black;
  display: inline-block;
  box-sizing: border-box;
}

/* ************** HOME HEADER *************************** */

.home-nav {
  width: 100%;
  display: inline-block;
  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 2vh 0 1vh 0;
      position: relative;
      margin-left: 5vw;
    }
  }
}

.home-alpha-nav {
  width: 100%;
  display: inline-block;
  ul {
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 1vh 0 2vh 0;
      position: relative;
      margin-right: 1vw;
    }
  }
}

.home-nav-links {
  color: $my-black;
  &:hover {
    color: $main-color;
  }
}

.home-register {
  border: 2px solid $my-black;
  color: $my-black;
  padding: 1vh 1vw;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $main-color;
    background-color: $my-black;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

/* ************** HEADER AND NAV ******************** */

.nav-background {
  background-color: $main-color;
}

.header-container {
  width: 90%;
  margin: 0 auto;
}

.site-title {
  display: inline-block;
  color: $my-black;
  padding: 2vh 0 1vh 0;
  font-weight: 300;
  font-size: 2em;
  &:hover {
    text-decoration: none;
    color: $main-color;
  }
}

.nav {
  width: 100%;
  display: inline-block;
  ul {
    padding: 0;
    margin: 0;
    float: right;
    li {
      display: inline-block;
      padding: 2vh 0 1vh 0;
      position: relative;
      margin-left: 5vw;
    }
  }
}

.nav-links {
  color: $my-black;
  &:hover {
    color: $main-color;
  }
}

.register {
  border: 2px solid $my-black;
  color: $my-black;
  padding: 1vh 1vw;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $main-color;
    background-color: $my-black;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

.alpha-nav {
  width: 100%;
  display: inline-block;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      padding: 1vh 0 2vh 0;
      position: relative;
      margin-right: 1vw;
    }
  }
}

/* ******************** FOOTER ******************** */

.full-footer-container {
  width: 100%;
  clear: both;
  margin-top: 5vh;
  padding: 2vh 0;
}

.footer {
  width: 100%;
  display: inline-block;
  span {
    float: left;
  }
  ul {
    margin: 0;
    padding: 0;
    float: right;
    li {
      position: relative;
      display: inline-block;
      margin: 0 1vw;
      &:first-child {
        margin: 0 1vw 0 0;
      }
    }
  }
}

.footer-disclaimer {
  font-size: .75em;
  text-align: center;
}

/* ****************************** AMAZON AFFILIATE ************************* */

.amazon-container {
  width: 95%;
  margin: 3vh 0;
  padding: 2vh 0;
  border-top: 2px #212121 solid;
  border-bottom: 2px #212121 solid;
}

.amazon-title {
  font-size: 3em;
  line-height: 1em;
  svg {
    fill: $main-color;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    &:hover {
      fill: $accent-color1;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
    }
  }
  a {
    color: $accent-color2;
    &:hover {
      color: $accent-color3;
    }
  }
}

.play {
  width: 50px;
  height: 50px;
}

/* ************************ NOISAEA **************************** */

.noisaea-container {
  witdh: 100%;
  text-align: center;
  margin: 3vh auto;
  padding: 3vh 0;
  border-top: 1px solid $my-black;
}

.noisaea-title {
  color: #673AB7;
  font-size: 2em;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $my-black;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

.noisaea-sub {
  font-size: 1.35em;
  color: $my-black;
}


/* ************************ MEDIA QUERY **************************** */

@media screen and (max-width: 1250px) {

  .mighty-site-title {
    font-size: 10em;
  }

  .home-container {
    margin: 15vh 0;
  }

  .veggie-site-title {
    margin: 8vh 0;
  }

}

@media screen and (max-width: 975px) {

  .mighty-site-title {
    font-size: 8em;
  }

  .home-container {
    margin: 10vh 0;
  }

  .veggie-site-title {
    margin: 6vh 0;
  }

}

@media screen and (max-width: 800px) {

  .content {
    width: 100%;
    vertical-align: top;
  }

  .sidebar {
    margin: 10vh 0 1vh 0;
    width: 100%;
    vertical-align: top;
  }

  .alpha-nav {
    text-align: center;
  }

  .four {
    width: 49%;
  }

  .mighty-site-title {
    font-size: 7em;
  }

  .home-container {
    margin: 10vh 0;
  }

  .veggie-site-title {
    margin: 6vh 0;
  }

  .lyric-separate {
    width: 100%;
  }

  .text-field {
    width: 100%;
  }

  .text-area {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 30vh;
  }

  .actions {
    width: 100%;
  }

  .delete-account {
    width: 100%;
  }

  .site-title {
    text-align: center;
  }

  .nav {
    text-align: center;
    ul {
      float: none;
      text-align: center;
    }
  }

  .alpha-nav {
    ul {
      text-align: center;
    }
  }

  .footer {
    text-align: center;
    span {
      float: none;
      text-align: center;
    }
    ul {
      float: none;
      text-align: center;
    }
  }

  .amazon-container {
    width: 100%;
  }

  .amazon-title {
    font-size: 1.5em;
  }

  .play {
    width: 30px;
    height: 30px;
  }

}

@media screen and (max-width: 585px) {

  .mighty-site-title {
    font-size: 5em;
  }

  .home-container {
    margin: 6vh 0;
  }

  .veggie-site-title {
    margin: 4vh 0;
  }

  .home-text-field {
    width: 100%;
  }

  .four {
    width: 100%;
    text-align: center;
  }

}

@media screen and (max-width: 425px) {

  .mighty-site-title {
    font-size: 4em;
  }

  .home-container {
    margin: 5vh 0;
  }

  .veggie-site-title {
    margin: 3vh 0;
  }


}
