$fancy-font: 'Open Sans', Helvetica, sans-serif;

/* ******************************* ARTIST ******************************** */

.artist-name {
  margin: 1vh 0;
  font-family: $fancy-font;
}

.album-separate {
  font-family: $fancy-font;
  margin: 3vh 0;
}

.album-name {
  font-size: 1.3em;
}

.track-separate {
  font-family: $fancy-font;
  margin: 1vh 0;
}

.hello-alex {
  display: none;
  margin: 20vh 0;
  font-family: $fancy-font;
  a {
    color: #212121;
    &:hover {
      cursor: text;
      color: #212121;
    }
  }
}

/* ******************************* ALBUM ******************************** */



/* ******************************* TRACK ******************************** */

.lyric-separate {
  font-family: $fancy-font;
  word-break: break-word;
  white-space: pre-line;
  margin: 1vh 0;
}

.ad-separate {
  width: 95%;
  font-family: $fancy-font;
  margin: 3vh 0;
  padding: 2vh 0;
  border-top: 2px #212121 solid;
  border-bottom: 2px #212121 solid;
}
