$main-color: #4CAF50;
$accent-color1: #A5D6A7;
$my-black: #212121;
$fancy-font: 'Open Sans', Helvetica, sans-serif;

/* ************** HOME HEADER *************************** */

.home-nav {
  width: 100%;
  display: inline-block;
  ul {
    text-align: center;
    li {
      display: inline-block;
      font-family: $fancy-font;
      padding: 2vh 0 1vh 0;
      position: relative;
      margin-left: 5vw;
    }
  }
}

.home-alpha-nav {
  width: 100%;
  display: inline-block;
  ul {
    text-align: center;
    li {
      display: inline-block;
      font-family: $fancy-font;
      padding: 1vh 0 2vh 0;
      position: relative;
      margin-right: 1vw;
    }
  }
}

.home-nav-links {
  color: $my-black;
  font-family: $fancy-font;
  &:hover {
    color: $main-color;
  }
}

.home-register {
  border: 2px solid $my-black;
  color: $my-black;
  padding: 1vh 1vw;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $main-color;
    background-color: $my-black;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

/* ************** HEADER AND NAV ******************** */

.nav-background {
  background-color: $main-color;
}

.header-container {
  width: 90%;
  margin: 0 auto;
}

.site-title {
  display: inline-block;
  color: $my-black;
  padding: 2vh 0 1vh 0;
  font-family: $fancy-font;
  font-weight: 400;
  font-size: 2em;
  &:hover {
    text-decoration: none;
    color: $main-color;
  }
}

.nav {
  width: 100%;
  display: inline-block;
  ul {
    float: right;
    li {
      display: inline-block;
      font-family: $fancy-font;
      padding: 2vh 0 1vh 0;
      position: relative;
      margin-left: 5vw;
    }
  }
}

.nav-links {
  color: $my-black;
  font-family: $fancy-font;
  &:hover {
    color: $main-color;
  }
}

.register {
  border: 2px solid $my-black;
  color: $my-black;
  padding: 1vh 1vw;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  &:hover {
    color: $main-color;
    background-color: $my-black;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
  }
}

.alpha-nav {
  width: 100%;
  display: inline-block;
  ul {
    li {
      display: inline-block;
      font-family: $fancy-font;
      padding: 1vh 0 2vh 0;
      position: relative;
      margin-right: 1vw;
    }
  }
}

/* ******************** FOOTER ******************** */

.full-footer-container {
  width: 100%;
  clear: both;
  margin-top: 5vh;
  padding: 2vh 0;
}

.footer {
  width: 100%;
  display: inline-block;
  font-family: $fancy-font;
  span {
    float: left;
  }
  ul {
    float: right;
    li {
      position: relative;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.footer-disclaimer {
  font-family: $fancy-font;
  font-size: .75em;
  text-align: center;
}

/* ****************************** AMAZON AFFILIATE ************************* */

.amazon-container {
  width: 95%;
  margin: 3vh 0;
  padding: 2vh 0;
  border-top: 2px #212121 solid;
  border-bottom: 2px #212121 solid;
}

.amazon-tiny {
  padding: 2vh 0 0 0;
  font-family: $fancy-font;
}

/* ****************************** MEDIA QUERY **************************** */

@media screen and (max-width: 800px) {

  .site-title {
    text-align: center;
  }

  .nav {
    text-align: center;
    ul {
      float: none;
      text-align: center;
    }
  }

  .alpha-nav {
    ul {
      text-align: center;
    }
  }

  .footer {
    text-align: center;
    span {
      float: none;
      text-align: center;
    }
    ul {
      float: none;
      text-align: center;
    }
  }

}
