$main-color: #AEEA00;
$accent-color1: #827717;
$my-black: #212121;
$fancy-font: 'Open Sans', Helvetica, sans-serif;

.home-container {
  margin: 20vh 0;
}

.home-line {
  padding: 2vh 0;
  font-family: $fancy-font;
  a {
    color: $my-black;
  }
}

.mighty-site-title {
  text-align: center;
  font-size: 15em;
  line-height: 15rem;
  a {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    &:hover {
      color: $main-color;
      -webkit-transition: .3s;
      -moz-transition: .3s;
      -o-transition: .3s;
    }
  }
}

.veggie-site-title {
  text-align: center;
  margin: 10vh 0;
}

.four {
  width: 24%;
  margin: 1vh auto;
  display: inline-block;
  font-family: $fancy-font;
  vertical-align: top;
}

/* ************************ MEDIA QUERY **************************** */

@media screen and (max-width: 1250px) {

  .mighty-site-title {
    font-size: 10em;
  }

  .home-container {
    margin: 15vh 0;
  }

  .veggie-site-title {
    margin: 8vh 0;
  }

}

@media screen and (max-width: 975px) {

  .mighty-site-title {
    font-size: 8em;
  }

  .home-container {
    margin: 10vh 0;
  }

  .veggie-site-title {
    margin: 6vh 0;
  }

}

@media screen and (max-width: 800px) {

  .four {
    width: 49%;
  }

  .mighty-site-title {
    font-size: 7em;
  }

  .home-container {
    margin: 10vh 0;
  }

  .veggie-site-title {
    margin: 6vh 0;
  }

}

@media screen and (max-width: 585px) {

  .mighty-site-title {
    font-size: 5em;
  }

  .home-container {
    margin: 6vh 0;
  }

  .veggie-site-title {
    margin: 4vh 0;
  }


}

@media screen and (max-width: 425px) {

  .mighty-site-title {
    font-size: 4em;
  }

  .home-container {
    margin: 5vh 0;
  }

  .veggie-site-title {
    margin: 3vh 0;
  }


}
